html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  font-family: "Times New Roman";
  z-index: 1;
}

body {
  background-color: #fffbeb;
}

.App-header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../public/flag.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-body {
  width: min(100vw, 2000px);
  margin: auto;
}

.Arrow {
  width: 5vw;
  height: 5vw;
  position: absolute;
  left: 47.5vw;
  top: 80vh;
}

.Title {
  font-size: 4vw;
  text-align: center;
  color: #801414;
  display: block;
}

.ExtraBig {
  font-size: 6vw;
  color: white;
}

.Smaller {
  font-size: 3vw;
  margin: 1vh;
}

.BodyText {
  width: min(70vw, 2000px);
  margin: auto;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.TinyReference {
  font-size: 0.75vw;
}

sup {
  height: min-content;
  line-height: 1;
  vertical-align: super;
}

iframe {
  margin-left: calc(min(70vw, 2000px)/2 - 560px/2);
}

.VideoHeader {
  font-size: 1vw;
  text-align: center;
}

.TOC {
  padding: 20px;
  position: absolute;
  right: 0;
  top: 100vh;
  font-size: 1vw;
}

.TOC a {
  display: block;
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}

.TOC p {
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Damico {
  width: 10vw;
  position: absolute;
  border-radius: 50%;
}

.Header {
  text-align: end;
  height: 5vh;
  line-height: 5vh;
  font-size: larger;
  margin: auto;
  position: fixed;
  background-color: #fffbeb;
  width: 100%;

}

.HeaderSpacer {
  height: 5vh;
}

.HeaderNav {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #801414;
}

.Quote {
  margin-left: 10%;
  margin-right: 10%;
  font-style: italic;
}

.Source {
  text-align: center;
  display: block;
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Flex {
  display: flex;
  width: 100vw;
  position: relative;
  margin-left: calc((min(100vw, 2000px) - 100vw) / 2 + 5vw);
}

.FlexHalf {
  flex: auto;
}

.HalfScreenImage {
  width: 40vw;
}

.FLAnalysis {
  text-align: center;
  width: 80vw;
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.ToponymName {
  width: 25%;
}

.ToponymEx {
  width: 75%;
  min-height: 1000px;
}

table {
  width: 60%;
  margin-left: 20%;
}

tr:nth-child(even) {
  background-color: #d6d3c6;
}

tr:nth-child(odd) {
  background-color: #f3efe1;
}